.tasks-first-addon {
    margin-left: 30px;
    margin-top: 32px;
    display: flex;
    gap: 30px;

    .tasks-div {
        width: 183px;
        height: 50px;
        border-radius: 24px;
        background-color: #F4F9FD;
        border: 4px solid white;
        font-size: 16px;
        font-weight: 700;
        color: #0A1629;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.tasks-title1 {
    margin-left: 30px;
    margin-top: 24px;
    width: 855px;
    height: 40px;
    border-radius: 14px;
    background-color: #E6EDF5;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: 16px;
        font-weight: 700;
        color: #0A1629;
    }
}

.active-tasks-container {
    margin-top: 20px;
    margin-left: 30px;

    .active-tasks-row-1 {
        display: flex;
        gap: 30px;
    }

    .active-tasks-row-2 {
        display: flex;
        gap: 251px;
        margin-top: 16px;

        .task-container-addon:last-child {
            margin-top: 20px !important;
        }
    }

    .active-tasks-row-3 {
        display: flex;
        gap: 251px;
        margin-top: 16px;

        .task-container-addon {
            margin-top: 20px !important;
        }
    }
}

.active-task-div-1,
.active-task-div-2,
.active-task-div-3,
.active-task-div-4,
.active-task-div-5,
.active-task-div-6,
.active-task-div-7 {
    width: 191px;
    height: 146px;
    border-radius: 24px;
    background-color: #FFFFFF;
    box-shadow: 0 6px 58px 0 #C4CBD61A;

    .task-num {
        margin-left: 20px;
        margin-top: 20px;
        font-size: 12px;
        font-weight: 400;
        color: #91929E;
    }

    .taskName {
        font-size: 14px;
        font-weight: 400;
        color: #0A1629;
        margin-left: 20px;
        margin-top: 3px;
        width: 150px;
    }

    .task-container-addon {
        margin-left: 20px;
        margin-top: 38px;
        display: flex;

        div {
            width: 35px;
            height: 28px;
            background-color: #F4F9FD;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;

            h3 {
                font-size: 12px;
                font-weight: 700;
                color: #7D8592;
            }
        }

        .tasks-active-img-1,
        .tasks-active-img-2,
        .tasks-active-img-3,
        .tasks-active-img-4,
        .tasks-active-img-5,
        .tasks-active-img-6,
        .tasks-active-img-7 {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            margin-left: 92px;
        }
    }
}

.tasks-backlog {
    width: 855px;
    height: 220px;
    margin-left: 30px;
    margin-top: 26px;
    border-radius: 14px;
    background-color: #E6EDF5;

    .backlog-title-1 {
        font-size: 16px;
        font-weight: 700;
        color: #0A1629;
        margin-left: 398.5px;
        padding-top: 16px;
    }
}

.backlog-row {
    display: flex;
    gap: 30px;
    margin-left: 30px;
    margin-top: 16px;
}

.backlog-task-div-1,
.backlog-task-div-2,
.backlog-task-div-3 {
    width: 244px;
    height: 146px;
    border-radius: 24px;
    background-color: #FFFFFF;
    box-shadow: 0 6px 58px 0 #C4CBD61A;

    .backlog-num {
        margin-left: 20px;
        margin-top: 20px;
        font-size: 12px;
        font-weight: 400;
        color: #91929E;
    }

    .backlogName {
        font-size: 14px;
        font-weight: 400;
        color: #0A1629;
        margin-left: 20px;
        margin-top: 3px;
        width: 180px;
    }

    .backlog-container-addon {
        margin-left: 20px;
        margin-top: 35px;
        display: flex;

        div {
            width: 35px;
            height: 28px;
            background-color: #F4F9FD;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;

            h3 {
                font-size: 12px;
                font-weight: 700;
                color: #7D8592;
            }
        }

        .backlog-active-img-1,
        .backlog-active-img-2,
        .backlog-active-img-3 {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            margin-left: 145px;
        }
    }
}